---
import Layout from "@/layouts/Layout.astro";
import Bgblur from "@components/Bgblur.astro";
import Hero from "@components/Hero.astro";
import Timeline from "@components/Timeline.astro";
import Section from "@components/Section.astro";
import Card from "@components/Card.astro";
import Objectives from "@components/Objectives.astro";
import Carousel from "@components/Carousel.astro";
import Presenter from "@components/Presenter.astro";
import logoISWC from "@/assets/logoISWC.png";


import marco from "src/assets/marco.jpeg";
import MatteoPalmonari from "src/assets/MatteoPalmonari.jpg";
import ErnestoJimenezRuiz from "src/assets/ErnestoJimenezRuiz.jpg";
import fabio from "src/assets/fabio.jpg";
---

<Layout title="Tutorial">
  <main class="px-4">
    <Section>
      <div class="flex gap-4 items-center">
        <img
      src={logoISWC.src}
      alt="table illustration"
      class="max-w-16 object-fit-cover shrink-0"
    />
    <h1 class="py-4 mt-8 text-4xl font-bold bg-gradient-to-r from-[#9E0974] to-[#6665E9] inline-block text-transparent bg-clip-text">Tutorial ISWC 2024</h1> 
      </div>
      <p
        class="mb-6 mt-4 font-light lg:mb-8 md:text-lg lg:text-xl text-gray-400"
      >
        The tutorial introduces the topic of Semantic Table Interpretation
        (STI), covering theoretical and practical considerations. In particular,
        the tutorial will provide a comprehensive analysis of how the approaches
        to STI have evolved from heuristic-based to ML-based, to the most recent
        LLM-based approaches. The analysis will consider the specific
        characteristics of these different classes, providing insights into
        their respective advantages and limitations to identify the contexts of
        use. The final part will describe a case study to demonstrate the
        application of two state-of-the-art approaches
      </p>
    </Section>
    <Section title="Objectives">
      <Carousel />
    </Section>
    <Section title="Program">
      <p class="mt-4 font-light lg:mb-4 md:text-base lg:text-base text-base">
        The tutorial will be a half-day tutorial and will be split into two
        slots:
      </p>
      <p class="text-base md:text-base lg:text-base">
        <strong class="font-bold">Slot 1:</strong> where we discuss the main concepts
        and review SOTA (L1, L2, L3 and L5);
      </p>
      <p class="text-base md:text-base lg:text-base">
        <strong class="font-bold">Slot 1:</strong> where we present two SOTA approach
        and use it in a hands-on session, by walking the audience through a use case
        (L4)
      </p>
      <Timeline />
    </Section>
    <Section title="Intended audience">
      <p class="mt-4 font-light md:text-base lg:text-base text-base">
        The tutorial type falls into the category of an introductory tutorial
        within a specific domain, catering to an intermediate level of
        proficiency. Intended attendees are:
      </p>
      <p class="font-light lg:mb-2 md:text-base lg:text-base text-base">
        <strong class="font-bold">i) researchers </strong> with expertise in semantic
        technologies, and, in particular in their application to data integration
        problems (e.g., ontology matching, semantic reconciliation, table annotation),
        who will discover new industry-driven, real-world application scenarios
      </p>
      <p class="font-light lg:mb-2 md:text-base lg:text-base text-base">
        <strong class="font-bold">ii) young researchers </strong> that recently joined
        the semantic web community (e.g., PhD students and postdocs), who will be
        exposed to challenging problems and possible solutions; iii) data scientists
        and data engineers, who will learn how semantic technologies can be exploited
        to support data-driven innovation
      </p>
      <p class="font-light lg:mb-2x md:text-base lg:text-base text-base">
        <strong class="font-bold">ii) data scientists and data engineers</strong
        >, who will learn how semantic technologies can be exploited to support
        data-driven innovation
      </p>
    </Section>
    <Section title="Presenters">
      <Presenter
        image={MatteoPalmonari.src}
        name="Matteo palmonari"
        profession="Professor at the University of Milan-Bicocca"
        description="His research interests are at the intersection of Artificial Intelligence and Data Management. He has been a coordinator and partner in projects about data enrichment, and he is particularly interested in combining machine learning and human-in-the-loop mechanisms to support knowledge-based applications."
      />
      <Presenter
        image={fabio.src}
        name="Fabio D'Adda"
        profession="Research Assistant at the University of Milan-Bicocca"
        description="He specialises in the application of ML techniques in the Semantic Web. He is chair of SemTab 2024, and organiser of the “STI vs LLMs Track”"
      />
      <Presenter
        image={marco.src}
        name="Marco Cremaschi"
        profession="Research Assistant at the University of Milan-Bicocca"
        description="He specialises in the application of ML techniques in the Semantic Web. He is chair of SemTab 2024, and organiser of the “STI vs LLMs Track”"
      />
      <Presenter
        image={ErnestoJimenezRuiz.src}
        name="Ernesto Jimenez-Ruiz"
        profession="Lecturer in Artificial Intelligence and Senior Tutor for Research at City, University of London affiliated to the Research Center for Adaptive Computer Systems and Machine Learning"
        description="His current research interests focus on applying Semantic Technology to Data Science workflows and combining Knowledge Representation and Machine Learning techniques. He is one of the founders of the SemTab challenge"
      />
    </Section>
  </main>
</Layout>
