---
import Release from "@/components/Release.astro";
import Card from "@/components/Card.astro";
import Banner from "@/components/Banner.astro";
import Button from "@/components/Button.astro";
import Stats from "@/components/Stats.astro";
import arc from "@/assets/arc.png";
import network from "@/assets/network.png";
import github from "@/assets/github.png";
import zenodo from "@/assets/zenodo.png";
import bitbucket from "@/assets/bitbucket.png";
import TableV1 from "@/components/TableV1.astro";
import Upgrades from "@/components/Upgrades.astro";
import TableV2 from "@/components/TableV2.astro";
---

<section>
  <ol class="relative border-s border-purple-500 max-w-screen-lg">
    <div class="absolute top-0 left-0 w-[1px] h-full bg-purple-500"></div>
    <Release
      title="Mammotab 2024"
      version="V2-alpha (SemTab)"
      link="https://doi.org/10.5281/zenodo.7014472"
      downloadable="false"
    >
      <div>
        <p class="text-base md:text-base lg:text-base">
          This version was created for SemTab 2024, it comes from the preliminary version of V2. The annotations within MammoTab 24 are derived from Wikidata v.
          20240401 and follow the structure used in the <a
            href="https://sem-tab-challenge.github.io/2024/tracks/sti-vs-llm-track.html "
            target="_blank">SemTab challenge.</a
          >.
        </p>
        <p class="text-base md:text-base lg:text-base mt-0">
          All tables are stored in a separate CSV file, where each line in the
          file corresponds to a row in the table.
        </p>
        <p class="text-base md:text-base lg:text-base mt-0">
          Target columns for annotation, CTA, and CEA are saved in separate CSV
          files.
        </p>
      </div>

      <div class="space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-5">
          <Card>
            <Stats label="N. of tables" value="888.372" />
          </Card>
          <Card>
            <Stats label="Entities" value="40.702.248" />
          </Card>
          <Card>
            <Stats label="Classes" value="4.937.828" />
          </Card>
          <Card>
            <Stats label="Properties" value="24.193" />
          </Card>
          <Card>
            <Stats label="NIL" value="4.121.995" />
          </Card>
        </div>

        <Banner>
          <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
            <Stats label="Total rows" value="21.731.092" variant="secondary" />
            <Stats label="Min rows" value="4" variant="secondary" />
            <Stats label="Max rows" value="24.193" variant="secondary" />
            <Stats label="Total cols" value="5.030.655" variant="secondary" />
            <Stats label="Min cols" value="1" variant="secondary" />
            <Stats label="Max cols" value="1.000" variant="secondary" />
          </div>
        </Banner>
      </div>

      <iframe
        class="rounded-lg bg-gray-600 grid place-content-center w-full aspect-video"
        src="https://www.dailymotion.com/embed/video/k7DiUU7svU7bsLANU2E"
      ></iframe>

      <TableV2 />

      <div class="flex flex-col gap-4 md:flex-row">
        <Button
          href="#"
          variant="disabled"
          tooltip="Coming soon after SemTab 2024"
        >
          Find on Zenodo
          <img src={zenodo.src} class="ms-2 w-6 h-6" />
        </Button>
        <Button
          href="https://github.com/UNIMIBInside/mammotab"
          variant="secondary"
          className="md:ml-4"
        >
          Find on Github
          <img src={github.src} class="ms-2 w-6 h-6" />
        </Button>
      </div>
    </Release>

    <Upgrades title="Upgrades">
      <div class="flex gap-4 mt-8 items-center">
        <img src={arc.src} class="aspect-square shrink-0 w-14 h-14" />
        <div>
          <p class="ml-5">Greater accuracy in annotations</p>
        </div>
      </div>

      <div class="flex gap-4 items-center">
        <img src={network.src} class="aspect-square shrink-0 w-14 h-14" />
        <div>
          <p class="ml-5">
            New annotations for CPA (Columns Predicate Annotations)
          </p>
        </div>
      </div>
    </Upgrades>

    <Release
      title="Mammotab 2022"
      version="V1"
      link="https://doi.org/10.5281/zenodo.7014472"
    >
      <div>
        <p class="text-base md:text-base lg:text-base">
          The annotations within MammoTab22 are derived from Wikidata v. 20220511 and follow the structure used in the SemTab challenge. All tables are stored in a separate CSV file, where each line in the file corresponds to a row in the table. Target columns for annotation, CTA, and CEA are saved in separate CSV files
        </p>
      </div>

      <div class="space-y-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
          <Card>
            <Stats label="N. of tables" value="980.254" />
          </Card>
          <Card>
            <Stats label="Entities" value="43.661.125" />
          </Card>
          <Card>
            <Stats label="Classes" value="5.541.283" />
          </Card>
        </div>

        <Banner>
          <div class="grid grid-cols-2 lg:grid-cols-6 gap-4">
            <Stats label="Total rows" value="23.229.899" variant="secondary" />
            <Stats label="Min rows" value="4" variant="secondary" />
            <Stats label="Max rows" value="14.436" variant="secondary" />
            <Stats label="Total cols" value="5.638.191" variant="secondary" />
            <Stats label="Min cols" value="1" variant="secondary" />
            <Stats label="Max cols" value="100.012" variant="secondary" />
          </div>
        </Banner>
      </div>

      <TableV1 />

      <div class="flex flex-col gap-4 md:flex-row">
        <Button
          href="https://doi.org/10.5281/zenodo.7014472"
          variant="secondary"
        >
          Find on Zenodo
          <img src={zenodo.src} class="ms-2 w-6 h-6" />
        </Button>
        <Button
          href="https://bitbucket.org/disco_unimib/mammotab/src/master/"
          variant="secondary"
        >
          Find on Bitbucket
          <img src={bitbucket.src} class="ms-2 w-4 h-4" />
        </Button>
      </div>
    </Release>
  </ol>
</section>
